step_01/treasure1
step_02/treasure2
step_03/treasure3
step_04/treasure4
step_05/treasure5
step_06/treasure6
step_07/treasure7
step_08/treasure8
step_09/treasure9
step_10/treasure10
step_11/treasure11
step_12/treasure12
step_13/treasure13
step_14/treasure14
step_15/treasure15
step_16/treasure16
step_17/treasure17
zipit.sh